@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Roboto+Condensed:wght@300;400;700&display=swap');


:root {
    --primary-dark: #194754;
    --primary-light: #318e94;
    --heading-bg: #ffd8ce
}

.icon {
    color: var(--primary-dark);
}

@layer base {

    body{
        @apply font-[Poppins]
    }

    li{
        @apply md:p-2 lg:p-4 font-bold
    }

    h1 {
        @apply  text-xl sm:text-3xl md:text-4xl sm:font-bold
    }

    h2 {
        @apply text-2xl font-bold
    }

    h3 {
        @apply text-xl font-bold
    }

    .btn {
        @apply p-2 border bg-gradient-to-r from-[var(--primary-dark)] to-[var(--primary-light)] text-white rounded-md
    }

    .icon {
        @apply text-2xl cursor-pointer
    }
}
